*{
    margin: 0px;
    padding: 0px;
}
.main{
    
    width: 100%;
    height: 550px;
    display: flex;

}
.main-1{
    width: 45%;
    height: 500px;
}
.main-2{
    width: 50%;
    height: 450px;
    margin-top: 40px;
    background-image: url(./img/Education.gif);
}
.text{
    padding-top: 130px;
    font-size: 50px;
    font-family: 'Supreme', sans-serif;
    margin-left: 30px;
}
.para{
    padding-top: 50px;
    font-size: 20px;
    font-family: 'Alpino', sans-serif;
    margin-left: 50px;
}
.com{
    margin-top: 180px;
    font-size: 20px;
    font-family: 'Plein', sans-serif;
    margin-left: 80px;
}