/* RegistrationForm.css */
.fof{
    padding: 20px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
    margin-top: 300px;
  }
  #hed-23{
    text-align: center;
  }
  
  label {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="text"],
  select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
  }
  
  select {
    width: 18%;
  }
  
  /* Define other styles similarly... */
  .buttonsub {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .buttonsub:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .buttonsub:active {
    transform: translateY(-1px);
  }

  .button-11{

    padding-left: 200px;
    padding-top: 30px;
  }
  
   
  
   .tab1 {
    margin-top: 70%;
    width: 300px;
    height: 200px;
   }