.carousel-inner{
 height: 540px;
 width: 100%;
}


/* Card styles */
.card {
    height: 254px;
    width: 190px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    overflow: hidden;
    
  }
  
  /* Image */
  .card-image {
    height: 100%;
    width: 100%; 
    background-position: center;
    background-size: cover;
     position: absolute; 
     transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); 
    background-image: url(./project/img/ceo.jpg);
  }
  .card-image1 {
    height: 100%;
    width: 100%; 
    background-position: center;
    background-size: cover;
     position: absolute; 
     transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); 
    background-image: url(./project/img/ceo1.jpg);
  }
  .card-image2 {
    height: 100%;
    width: 100%; 
    background-position: center;
    background-size: cover;
     position: absolute; 
     transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); 
    background-image: url(./project/img/support.jpg);
  }
  
  /* Description */
  .card-description {
    display: flex;
    position: absolute;
    gap: 0.5em;
    flex-direction: column;
    background-color:#98D9C2;
    background: linear-gradient(to top, #439fa7, #2b656a);  
    color: #212121;
    height: 35%;
    bottom: 0;
    border-radius: 16px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  
  /* Text */
  .text-title {
    font-size: 1.3rem;
    font-weight: 700;
  
  }
  
  .text-body {
    font-size: 1rem;
    line-height: 130%; 
    text-align: justify;
    text-align: center;
  }
  
  /* Hover states */
  .card:hover .card-description {
    transform: translateY(100%);
  }
  .our-serv ,.our-serv1 ,.our-serv2{
    padding-top: 40px;
  }
 
  .cmain{
    background-color: #D1D1D1;
    width: 100%;
    margin-top: 50px;
  }
  .cdleft{
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .par-1 .par-2{
    font-size: 20px;
  }

  .he-1{
    font-family: 'Clash Display', sans-serif;
    gap: 3em;
    text-align: center;
    
  }

  .ma{
    flex: 2;
    padding: 40px;
    background-color: #E2D4BA;
    text-align: justify;
    height: fit-content;
    margin-top: 50px;
  }
  .par-1{
    padding-top: 20px;
  }